<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Montando o Lancho</title>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Monte o seu Lancho</span>
        </div>
    </nav>
    <div class="container">
        <div id="app">
            <div class="row">
                <div class="col-md-6">
                    <div class="row mt-2">
                        <div class="col">
                            <img :src="pao[0]">
                            <img :src="alface">
                            <img :src="ketchup">
                            <img :src="mostarda">
                            <img :src="maionese">
                            <img :src="hamburguer">
                            <img :src="pao[1]">
                        </div>
                    </div>
                </div>
                <!-- TIPO DO PÃO -->
                <div class="col-md-6" v-if="etapa == 1">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Tipo do pão</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim" v-model="inputTipoPao">
                                        <label class="form-check-label">Gergelim</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano" v-model="inputTipoPao">
                                        <label class="form-check-label">Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- SALADAS -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Saladas</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface" v-model="inputSalada">
                                        <label class="form-check-label">Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- MOLHOS -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Molhos</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="ketchup" v-model="inputMolhos">
                                        <label class="form-check-label">Ketchup</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mostarda" v-model="inputMolhos">
                                        <label class="form-check-label">Mostarda</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="maionese" v-model="inputMolhos">
                                        <label class="form-check-label">Maionese</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TIPO DO HAMBURGUER -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Tipo de Hamburguer</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="soja" v-model="inputTipoHamburguer">
                                        <label class="form-check-label">Soja</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="feijao" v-model="inputTipoHamburguer">
                                        <label class="form-check-label">Feijão</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="graodebico" v-model="inputTipoHamburguer">
                                        <label class="form-check-label">Grão de Bico</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="fazerPedido()">Fazer Pedido</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 2">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Informe Seus Dados</div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">Nome</label>
                                        <input type="text" class="form-control" v-model="inputNome">
                                        <label class="form-label">Endereço</label>
                                        <input type="text" class="form-control" v-model="inputEndereco">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-warning" @click="etapa -= 1">Voltar para a Montagem</button>
                            <button type="button" class="btn btn-success" @click="confirmarPedido()">Confirmar</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" v-if="etapa == 3">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Pedido Confirmado</div>
                                <div class="card-body">
                                    <p>Agora é só aguardar seu Lancho ficar pronto!</p>
                                    <p>Vamos chamar você pelo nome em breve :)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-between">
                            <button type="button" class="btn btn-primary" @click="etapa = 1">Repetir Pedido</button>
                            <button type="button" class="btn btn-success" @click="novoPedido()">Novo Pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                inputTipoPao: '',
                inputSalada: [],
                inputMolhos: [],
                inputTipoHamburguer: '',
                etapa: 1,
                inputNome: '',
                inputEndereco: '',
                novoPedidoAsync: null
            },
            methods: {
                fazerPedido(){
                    if(this.inputTipoPao && this.inputTipoHamburguer){
                        this.etapa = 2
                    } else{
                        alert('Você precisa selecionar no mínimo um PÃO e um HAMBÚRGUER')
                    }
                },
                confirmarPedido(){
                    if(this.inputNome && this.inputEndereco){
                        this.etapa = 3

                        /* requisição da API */

                        this.novoPedidoAsync = setTimeout(() => this.novoPedido(), 7000)
                    } else{
                        alert('Você precisa inserir o NOME e ENDEREÇO')
                    }
                },
                novoPedido(){
                    this.etapa = 1
                    this.inputTipoPao = ''
                    this.inputSalada = []
                    this.inputMolhos = []
                    this.inputTipoHamburguer = ''
                    this.inputNome = ''
                    this.inputEndereco = ''
                }
            },
            computed: {
                pao(){
                    switch(this.inputTipoPao){
                        case 'gergelim':
                            return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                        case 'australiano':
                            return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                        default:
                            return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                    }
                },
                alface(){
                    if(this.inputSalada.includes('alface')){
                        return 'imagens/alface.png'
                    }
                    
                    return 'imagens/padrao/alface.png'
                },
                ketchup(){
                    if(this.inputMolhos.includes('ketchup')){
                        return 'imagens/ketchup.png'
                    }

                    return 'imagens/padrao/molho.png'
                },
                mostarda(){
                    if(this.inputMolhos.includes('mostarda')){
                        return 'imagens/mostarda.png'
                    }

                    return 'imagens/padrao/molho.png'
                },
                maionese(){
                    if(this.inputMolhos.includes('maionese')){
                        return 'imagens/maionese.png'
                    }

                    return 'imagens/padrao/molho.png'
                },
                hamburguer(){
                    switch(this.inputTipoHamburguer){
                        case 'soja':
                            return ['imagens/soja.png']
                        case 'feijao':
                            return ['imagens/feijao.png']
                        case 'graodebico':
                            return ['imagens/graodebico.png']
                        default:
                            return ['imagens/padrao/hamburguer.png']
                    }
                }
            },
            watch: {
                etapa(novoValor){
                    if(novoValor == 1){
                        clearTimeout(this.novoPedidoAsync)
                    }
                }
            }
        }) 
    </script>
</body>

</html>